.DS_Store
data/*
!data/README.md
checkpoints/*
!checkpoints/README.md
!checkpoints/.gitkeep
__pycache__/
wandb
*_ignore.*
vast
boxes_outputs
results/*
!results/README.md
!**.gitkeep
augmentation/models/*
augmentation/StyleGANPytorch/*
augmentation/samples/**
**/checkpoints/**
**/samples/**